# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/
.pytest_cache/

# Environments
.env
venv/
env/
ENV/

# Data & Models (ignore large raw files)
data/raw/*.xlsx
data/raw/*.csv
data/raw/*.zip
mlruns/
.mlflow/

# IDE
.vscode/
.idea/

